
<div class="header">
  <div class="col-lg-4" >
    <div style="margin-top: 80px;height: 400px; padding-left: 20px;border-radius: 70px;margin-left: 100px;">
      <span style="color: #4c4c4c;
                font-size: 3.5em;
                text-decoration: solid;
                font-family: 'Courier New', Courier, monospace;
                line-height: 1;
                ;">
                <br>
                Take your stories with you...</span>
                <br>              
                <br>
  <span style="font-size: 1.3em;color:#a1a1a1;"><span id="part"><b>Shortpad</b></span> connects a community of readers and writers through the power of stories.</span>
  <br>
  <br>

  <div style="width: 100%;margin-top: 40px;">
  <div style="margin: auto;width: 300px; ">
  <button id="explore">Explore</button>
  <button id="start-write">Start Writing</button>
  </div>
  </div>
</div>
</div>

<div class="col-lg-8"><img class="heading-picture" src="images/header-image2.jpg"></div>



</div>
<br>
<hr>
<h3><label>Top-rated stories</label></h3>
  <div class="thumbnail1">
        <div class="row">
            <div class="col-sm-4 col-md-2"  ng-repeat="book in books|filter:{ rating: '!No rating yet'}|limitTo:5"  data-toggle = "modal" data-target = "#view_book" ng-click="view(book._id)" style="cursor: pointer;">
              <div class="thumbnail">
                <img class="img-rounded"><img src="{{book.img}}" >
                <div class="caption text-center">
                  <a data-toggle = "modal" data-target = "#view_book" ng-click="view(book._id)"><b>{{book.title}}</b></a><br>
                  <p><i>By: {{book.author_name}}</i><br><br>
                    <i class="glyphicon glyphicon-star"></i> <i>Rating: {{book.rating}}</i><br><br></p>
                </div>
              </div>
            </div>
          </div>
      </div>
<div class="modal fade" id="view_book" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div ng-repeat="view in viewbooks">
            <div class="modal-header" >
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form>
                    <br />
                    <img src="images/{{view.img}}" height="350" width="220" style="float:left;">
                    <div style="float:left;padding-left:20px;">              
                        <h3>{{view.title}}</h3>
                        <h4><i>By: {{view.author_name}}</i></h4><br>
                        {{view.description}}</div><br />
                    <br />
                </form>
            </div>
            <div class="modal-footer">
                    <button class="btn btn-warning" ng-click="read(view._id)">Read</button> 
            </div>
          </div>
          
        </div>
    </div>
</div>  
</div>